/* Asegúrate de que html y body ocupen el 100% de la altura de la ventana gráfica */


/* Estilos para el contenedor principal */
.padre {
    display: flex; /* Define un contenedor flex */
    flex-direction: row; /* Los elementos hijos se colocan en una fila horizontal */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 0px; /* Añade un relleno de 0px */
    margin: 0px; /* Añade un margen de 0px */
    width: 100%; /* Ancho completo del contenedor */
    height: 90vh; /* Altura del 90% de la altura de la ventana gráfica */
    background-color: white; /* Usa la variable CSS para el color de fondo */
}
/* Estilos para el contenedor secundario */
.container {
    display: flex; /* Define un contenedor flex */
    flex-direction: row; /* Los elementos hijos se colocan en una fila horizontal */
    height: 100%;
    width: 100% ; /* Ancho completo del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
     /* Ancho completo del contenedor */
    background-color: #000835; /* Color de fondo específico */
}

/* Estilos para la sección de reproducción */
.play {
    display: flex; /* Define un contenedor flex */
    justify-content: center; /* Alinea los elementos al final del contenedor */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 40%; /* Ancho completo del contenedor */
    height: 100%; /* Altura del 50% de la altura de la ventana gráfica */
    background-color: var(--parrafo-color); /* Usa la variable CSS para el color de fondo */
    justify-content: center;
    }

.play img {
    width: 60%; /* Ancho del 100% del contenedor */
    height: auto; /* Altura del 100% del contenedor */
    object-fit: cover;
    border-radius: 20px ; /* Bordes redondeados en la parte superior */
    justify-content: center;
   
}

/* Estilos para la sección de reproducción al pasar el ratón por encima */
.play:hover {
    opacity: 0.5; /* Cambia la opacidad al pasar el ratón por encima */
    cursor: pointer; /* Cambia el cursor a un puntero */
}

/* Estilos para los botones dentro de la sección de reproducción */


/* Estilos para la sección "nosotros" */
.nosotros {
    display: flex; /* Define un contenedor flex */
    flex-direction: column; /* Los elementos hijos se colocan en una columna vertical */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto */
    gap: 20%; /* Añade un espacio entre los elementos */
    
   
     /* Ancho completo del contenedor */
    height: 100%; /* Altura del 50% de la altura de la ventana gráfica */
    background-color: var(--parrafo-color); /* Usa la variable CSS para el color de fondo */
    color: #fff; /* Color del texto blanco */
   
    width: 60%;


}

h1 {
    font-size: 2em; /* Tamaño de fuente de 2.5em */
    margin: 10px; /* Añade un margen de 10px */
}

/* Estilos para los párrafos */
p {
    text-align: center; /* Justifica el texto */
    width: 80%; /* Ancho del 80% del contenedor */
    font-size: 1.2em; /* Tamaño de fuente de 1.5em */
}

h2 {
    display: block; /* Hace que el span ocupe todo el ancho del h2 */
    font-weight: bold; /* Asegura que el texto esté en negrita */
    cursor: pointer; /* Cambia el cursor a un puntero */
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    font-size: 1.3em;
  
    height: auto; /* Ajusta la altura automáticamente */    
}

h2 :hover {
    display: block; /* Muestra el elemento */
    color: var(--color08); /* Cambia el color del texto al pasar el ratón por encima */
    background-color: white; /* Cambia el color de fondo al pasar el ratón por encima */
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 1.3em;
  
    height: auto; /* Ajusta la altura automáticamente */ 
}

.button {
    display: inline-block; /* O block, según necesites */
    padding: 5px;
    margin: 5px;
    font-size: 1.3em;
    box-sizing: border-box; /* Para que el padding no modifique el tamaño total */
    transition: background-color 0.3s ease; /* Si deseas alguna transición */
    color: inherit;
    text-decoration: none;

}

/* Estilos responsivos para pantallas con un ancho máximo de 730px */
@media screen and (max-width: 730px) {
    header nav {
        display: flex; /* Define un contenedor flex */
        flex-direction: column; /* Los elementos hijos se colocan en una columna vertical */
        justify-content: center; /* Centra los elementos horizontalmente */
        background-color: var(--white-color); /* Usa la variable CSS para el color de fondo */
        top: 0; /* Posiciona el contenedor en la parte superior */
        width: 100%; /* Ancho completo del contenedor */
        border-bottom: 1px solid var(--parrafo-color); /* Añade un borde inferior */
    }

    .nav__logo {
        display: flex; /* Define un contenedor flex */
        flex-direction: row; /* Los elementos hijos se colocan en una fila horizontal */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        margin: 5px; /* Añade un margen de 5px */
    }

    .nav__lista {
        display: flex; /* Define un contenedor flex */
        flex-direction: column; /* Los elementos hijos se colocan en una columna vertical */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        margin: 5px; /* Añade un margen de 5px */
    }

    .padre {
        display: flex; /* Define un contenedor flex */
        flex-direction: column; /* Los elementos hijos se colocan en una columna vertical */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        padding: 5px; /* Añade un relleno de 5px */
        width: 100%; /* Ancho completo del contenedor */
        height: 90vh; /* Altura del 90% de la altura de la ventana gráfica */
        background-color: var(--main-color); /* Usa la variable CSS para el color de fondo */
    }

    .container {
        display: flex; /* Define un contenedor flex */
        flex-direction: column; /* Los elementos hijos se colocan en una columna vertical */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        margin: 5px; /* Añade un margen de 5px */
        padding: 5px; /* Añade un relleno de 5px */
        width: 100%; /* Ancho completo del contenedor */
    }

    .container img {
        width: 50%; /* Ancho del 50% del contenedor */
        height: 100%; /* Altura completa del contenedor */
        object-fit: contain; /* Ajusta la imagen para que quepa dentro del contenedor */
    }

    .play {
        height: 35vh; /* Altura del 35% de la altura de la ventana gráfica */
    }
}